<div class="container position-relative">
    <span class="skip">Skip</span>
    <h2 class="welcome-text">Welcome To</h2>
    <h1 class="super-text">SUPER STAY</h1>

    <form>
        <div class="mb-3 text-start">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="Enter Email here" required>
        </div>
        <div class="mb-1 text-start">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" required>
        </div>
        <a href="#" class="forgot-password text-end text-muted">Forgot password?</a>
        
        <button type="submit" class="login-btn">LOGIN</button>
    </form>
    <p class="signup-link">
        NEW USER? 
        <a [routerLink]="'/signup'" class="text-primary">Sign up here!</a>
    </p>         
    <!-- <p class="signup-link">NEW USER? <a href="" class="text-primary">Sign up here!</a></p> -->
</div>

<div class="container">
    <div class="row">
        <app-home></app-home>
    </div>
</div>